body {
  font-family: Arial, sans;
}

.content {
  width: 600px;
  margin: 100px auto;
}

.month-slider-wrapper.shortcuts {
    font-size: 0.8em;
    float: right;
    list-style: none;
    margin: -12px -25px 0 0;
    padding: 0;
}

.noUi-connect {
  background-color: skyblue;
  border: 2px solid darken(skyblue, 10);
  opacity: 0.3;
  box-shadow: none;
}

.noUi-tooltip {
    white-space: nowrap;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    opacity: 0.7;
    margin-top: 5rem !important;
}

.noUi-pips {
top: 40%;
}

.noUi-marker {
    display: none;
}
.noUi-value {
    font-size: 0.8em;
}

.noUi-handle {
font-size: 0.8em;
background-color: skyblue;
box-shadow: none;
border: 2px solid darken(skyblue, 10);
border-radius: 15px;
width: 30px;
height: 30px;
}

.slider {
  margin: 70px 20px 70px 20px;
}

.sample-submit-data {
  display: none;
}

#range-slider {
    /* position: absolute;
    bottom: 3rem;
    text-align: center; */
    width: 100%;
}