body {
  font-family: Arial, sans;
}

.noUi-connect {
  background-color: skyblue;
  border: 2px solid darken(skyblue, 10);
  opacity: 0.6;
  box-shadow: none;
}

.noUi-tooltip {
    white-space: nowrap;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    opacity: 0.7;
    margin-top: 5rem !important;
}

.noUi-pips {
top: 40%;
}

.noUi-marker {
    display: none !important;
}
.noUi-value {
    font-size: 0.8em;
}

.noUi-handle {
font-size: 0.8em;
background-color: skyblue;
box-shadow: none;
opacity: 0.7;
top: -1px !important;
height: 40px !important;
}

.noUi-handle::before{
  display: none !important;
  top: 0;
  height: 100% !important;
}

.noUi-handle::after{
  display: none !important;
  top: 0;
  height: 100% !important;
}

.slider {
  margin: 70px 20px;
}

/* .sample-submit-data {
  display: none;
} */

#range-slider {
    height:40px;
    width: 100%;
}