{% extends "base.html" %} {% block body %}

<!-- Background Graph -->
<div id='svg-div'></div>
<div id='svg-sunburst'></div>

<!-- Sidebar -->
<div class="shadow active" id="sidebar">
  <div class="collapse-spot-left">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <div class="arrow-right" id='left-collapse-arrow'></div>
      <!-- <span>&gt;</span> -->
    </button>
  </div>

  <div class='row d-flex justify-content-center'>
    <div class="content-header d-flex justify-content-center" id='data-filter-header'>
      <!-- Filter Title -->
      <h4 class="m-0">Data Filters</h4>
    </div>
  </div>

  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Sentiment </span>
    <div id='sentiment-slider'>
    </div>
  </div>

  <div class='row d-flex justify-content-center sidebar-row hidden'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Sentiment </span>
    <div id='in-out-slider'>

    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row hidden'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Sentiment </span>
    <div id='other-filter'>

    </div>
  </div>

  <div class='row d-flex justify-content-center'>
    <div class="content-header d-flex justify-content-center" id='info-behaviour-header'>
      <!-- Filter Title -->
      <h4 class="m-0">Info Display</h4>
    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Highlighted Links </span>
    <div id='highlight-slider'>

    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Node Size </span>
    <div id='nodesize-slider'>
    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Node Color </span>
    <div id='nodecolor-slider'>
    </div>
  </div>
</div>

<!-- Middle Content -->
<div class="container" id="content">

  <!-- Search Bar -->
  <div class='d-flex' id='search-box-wrapper'>
    <div class="bs-example">
      <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false" id='search-input'>
    </div>
    <div class="x-close" id='clear-search'>
      <i class="far fa-times-circle"></i>
      <a href="#">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  </div>

  <!-- Date Ranger Slider -->
  <div class="date-slider-wrapper d-flex justify-content-center">
    <div id="range-volume-scent"></div>
    <div id="range-slider"></div>
  </div>
</div>


<!-- Rightbar -->
<div class="shadow active" id="rightbar">
  <div class="collapse-spot-right">
    <button type="button" id="rightbarCollapse" class="btn btn-info">
      <div class='arrow-left' id='right-collapse-arrow'></div>
    </button>
  </div>
</div>



<script>
  const start_date = new Date("{{ first_link }}");
  const end_date = new Date("{{ last_link }}");
</script>
<script src="../static/js/main_graph.js"></script>
<script src="../static/js/line_scent.js"></script>

<!-- noUI Slider -->
<link href="../static/dist/css/nouislider.css" rel="stylesheet" />
<script src="../static/dist/js/nouislider.js"></script>

<script src="../static/js/range_picker.js"></script>
<link href="../static/css/rangepicker.css" rel="stylesheet" />

<script src="../static/js/filter_sliders.js"></script>
<link href="../static/css/filter_sliders.css" rel="stylesheet" />

<script src="../static/js/search_bar.js"></script>
<link href="../static/css/search_bar.css" rel="stylesheet" />

<link href="../static/css/icons.css" rel="stylesheet" />

<script src="../static/js/sunburst_filter.js"></script>
<script src="../static/js/main.js"></script>


{% endblock %}