{% extends "base.html" %} {% block body %}

<!-- Background Graph -->
<div id='svg-div'></div>
<div id='svg-sunburst'></div>

<!-- Sidebar -->
<div class="shadow active" id="sidebar">
  <div class="collapse-spot-left">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span>></span>
    </button>
  </div>
</div>

<!-- Middle Content -->
<div class="container" id="content">
  
  <!-- Date Ranger Slider -->
  <div class="date-slider-wrapper">
    <div id="range-volume-scent"></div>
    <div id="range-slider"></div>
  </div>
  <!-- For the scent, seperate positive and negative volumes -->
</div>


<!-- Rightbar -->
<div class="shadow active" id="rightbar">
  <div class="collapse-spot-right">
    <button type="button" id="rightbarCollapse" class="btn btn-info">
      <i class="fas fa-align-right"></i>
      <span><</span>
    </button>
  </div>
</div>



<script>
  const start_date = new Date("{{ first_link }}");
  const end_date = new Date("{{ last_link }}");
</script>
<link href="../static/dist/css/nouislider.css" rel="stylesheet" />
<script src="../static/dist/js/nouislider.js"></script>
<script src="../static/js/range_picker.js"></script>
<link href="../static/css/rangepicker.css" rel="stylesheet" />
<script src="../static/js/line_scent.js"></script>
<script src="../static/js/graph.js"></script>
<script src="../static/js/main.js"></script>
{% endblock %}